@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@section Scripts{
<script type="text/javascript">
    let yearGroupId = 0;
    let yearGroupCode = '';
    let subjectId = 0;
    let classId = 0;

    $(function () {
        loadYearGroups();
    });

    function loadYearGroups() {
        $("#subjectContainer").hide();
        $.ajax({
            url: '/?handler=YearGroups'
        }).done(function (result) {
            let l = result.length;
            let i = 0;

            $("#yearGroups tbody").html("");
            while (i < l) {
                $("#yearGroups tbody").append("<tr><td><input type='button' id='" + result[i].oid + "' code='" + result[i].code + "' onclick='loadSubjects(this)' value='Year " + result[i].code + "' class='yearGroupsButton btn btn-primary selectButtons' /></td></tr>");
                i++;
            }
            $("#yearGroupContainer").show();
        });
    }
    function loadSubjects(row) {
        yearGroupId = $(row).attr("id");
        yearGroupCode = $(row).attr("code");

        $.ajax({
            url: '/?handler=Subjects',
            data: {
                yearGroupId: yearGroupId
            }
        }).done(function (result) {
            let l = result.length;
            let i = 0;

            $("#yearGroupContainer").hide();
            $("#subjects tbody").html("");
            while (i < l) {
                $("#subjects tbody").append("<tr><td><input type='button' onclick='loadPupils(" + result[i].subjectId + ")' value='" + result[i].displayName + "' class='subjectButtons btn btn-primary selectButtons' /></td></tr>");
                i++;
            }
            $("#subjects tbody").append("<tr><td><input type='button' value='Cancel' onclick='loadYearGroups()' class='subjectButtons btn btn-warning selectButtons' /></td></tr>");
            $("#subjectContainer").show();
        });
    }
    function loadPupils(_subjectId) {
        subjectId = _subjectId;

        $.ajax({
            url: '/?handler=ClassId',
            data: {
                yearGroupId: yearGroupId,
                subjectId: subjectId
            }
        }).done(function (result) {
            classId = result;

            $.ajax({
                url: '/?handler=TrackerPupils',
                data: {
                    yearGroupCode: yearGroupCode,
                    classId: classId
                }
            }).done(function (data) {
                $('.pupilTable').bootstrapTable({
                    data: data
                });
                $("#subjectContainer").hide();
                $("#pupilsContainer").show();
            });
        });
    }
</script>
<style>
    .selectButtons {
        width: 150px;
        height: 40px;
        padding: 10px;
        margin: 5px;
    }
</style>
}<div class="container col-lg-12" style="text-align:center">
    <div id="yearGroupContainer">
        <h2>Select Year Group</h2>
        <br />
        <div id="yearGroups" class="row">
            <table class="table yearGroupTable">
                <tbody></tbody>
            </table>
        </div>
    </div>
    <div id="subjectContainer" style="display:none">
        <h2>Select Subject</h2>
        <br />
        <div id="subjects" class="row">
            <table class="table subjectTable">
                <tbody></tbody>
            </table>
        </div>
    </div>
    <div id="pupilsContainer" style="display:none">
        <h2>Pupils</h2>
        <br />
        <div id="pupils" class="row">
            <table class="table pupilTable">
                <thead>
                    <tr>
                        <th data-sortable="true" data-field="pupilName">Pupil</th>
                        <th data-sortable="true" data-field="formTeacher">Teacher</th>
                        <th data-sortable="true" data-field="monthsOld">Months Old</th>
                        <th data-sortable="true" data-field="endOfLastYearStatus">End of Last Year</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>