@page 

@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="container col-lg-12" style="        text-align: center">
    <div id="homeContainer" class="container">
        <h2>Welcome to Pass Tracker</h2>
    </div>
</div>