@page 
@model YearGroupsModel
@{
    ViewData["Title"] = "Year Groups";
}

@section Scripts{
    <script src="~/js/YearGroups.js"></script>
}
<style>
    .objectives {
        width: 150px;
    }
    .hide-col{display:none;}
</style>
<div class="container col-lg-12" style="        text-align: center">
    <div id="yearGroupContainer" style="        display: none" class="container">
        <h2>Select Year Group</h2>
        <br />
        <div id="yearGroups" class="row">
            <table class="table yearGroupTable">
                <tbody></tbody>
            </table>
        </div>
    </div>
    <div id="subjectContainer" style="        display: none" class="container">
        <h2>Select Subject</h2>
        <br />
        <div id="subjects" class="row">
            <table class="table subjectTable">
                <tbody></tbody>
            </table>
        </div>
    </div>
    <div id="termContainer" style="        display: none" class="container">
        <h2>Select Term</h2>
        <br />
        <div id="terms" class="row">
            <table class="table termTable">
                <tbody></tbody>
            </table>
        </div>
    </div>
    <div id="pupilsContainer" style="        display: none" class="container">
        <h2 id="pupil-title">Pupils</h2>
        <br />
        <div id="pupils" class="row">
            <table class="table pupilTable">
                <thead>
                    <tr>
                        <th data-sortable="true" data-field="pupilName">Pupil</th>
                        <th data-sortable="true" data-field="formTeacher">Teacher</th>
                        <th data-sortable="true" data-field="monthsOld">Months Old</th>
                        <th data-sortable="true" data-field="endOfLastYearStatus">End of Last Year</th>
                        <th data-sortable="true" data-field="autumnStatus" data-class="AUT hide-col">Summer</th>
                        <th data-sortable="true" data-field="autumnHalfTermStatus" data-class="AUT2 hide-col">Summer Half</th>
                        <th data-sortable="true" data-field="springStatus" data-class="SPR hide-col">Spring</th>
                        <th data-sortable="true" data-field="springHalfTermStatus" data-class="SPR2 hide-col">Spring Half</th>
                        <th data-sortable="true" data-field="summerStatus" data-class="SUM hide-col">Summer</th>
                        <th data-sortable="true" data-field="summerHalfTermStatus" data-class="SUM2 hide-col">Summer Half</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>